/* App.js uses this css file */
/* bootstrap link is in index.html in public folder of project */
#board{
  margin-top:2%;
  padding-left: 30%;
}

#buttons{
  margin-top:1%;
  padding-left:30.25%;
}

.sBtn{
  margin-right: 2.5%;
  width: 240px;
}

.rBtn{
  margin-left: 0%;
  margin-right: 0.9%;
  width: 240px;
}

.square{
  background-color: #fafafa;
  border: 1px solid #303030;
  height: 55px;
  width: 55px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#leftBorder{
  border-left: 6px solid black;
  height: 495px;
  position: absolute;
  left: 30%;
}

#topBorder{
  border-top: 6px solid black;
  width: 495px;
  position: absolute;
  top: 3.5%;
}

#bottomBorder{
  border-top: 6px solid black;
  width: 495px;
  position: absolute;
  top: 80%;
}

#rightBorder{
  border-left: 6px solid black;
  height: 495px;
  position:absolute;
  left:68.25%;
}

#verticalOne{
  border-left: 6px solid black;
  height: 495px;
  position: absolute;
  left: 42.5%;
}

#verticalTwo{
  border-left: 6px solid black;
  height: 495px;
  position: absolute;
  left: 55.5%;
}

#horizontalOne{
  border-top: 6px solid black;
  width: 495px;
  position: absolute;
  top: 29.5%;
}

#horizontalTwo{
  border-top: 6px solid black;
  width: 495px;
  position: absolute;
  top: 55%;
}



